* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
html {
    scroll-behavior: smooth;
  }

.actualPlayer0,
.actualPlayer1,
.actualPlayer2,
.actualPlayer3,
.actualPlayer4
 {
    height: 5rem;
    width: 5rem;
    z-index: 8;
}


.background {
    background-color: black;
    background-image: url('./image/night-sky.avif');
    /* background-size: 100% 100%; */
    height: 200rem;
    width: 100vw;
}

.singleCurve {
    height: 16rem;
    width: 11rem;
    position: absolute;
    top: 18rem;
    left: 43rem;
}

.singleCurve img {
    width: 100%;
    height: 100%;
}

.image-cafeteria {
    height: 32rem;
    width: 32rem;
    position: absolute;
    left: 53rem;
    top: 5rem;
}
.image-cafeteria img {
    height: 100%;
    width: 100%;
}

.image-medBed {
    left: 69rem;
    height: 19rem;
    position: absolute;
    top: 93rem;
    width: 24rem;
    transform: scale(-1, 1);
}

.image-medBed img {
    height: 100%;
    width: 100%;
}

.curve-pathway {
    position: absolute;
    left: 61.5rem;
    top: 32rem;
    height: 40rem;
    width: 28rem;

}

.curve-pathway img{
    height: 100%;
    width: 100%;
}

.plus-pathway {
    position: absolute;
    left: 34rem;
    top: 32rem;
    height: 20rem;
    width: 28rem;
}

.plus-pathway img {
    height: 100%;
    width: 100%;
}

.image-weapon {
    position: absolute;
    top: 30rem;
    left: 9rem;
    height: 23rem;
    width: 26rem;
}

.image-weapon img {
    height: 100%;
    width: 100%;
}

.image-electrical {
    top: 51rem;
    left: 46rem;
    position: absolute;
    height: 21rem;
    width: 15rem;
    transform: rotate(180deg);
}

.image-electrical img {
    height: 100%;
    width: 100%;
}

.singleCurve11 {
    position: absolute;
    transform: scale(-1, 1) rotate(90deg);
    top: 62rem;
    left: 24rem;
    height: 28rem;
    width: 10rem;
}
.singleCurve11 img {
    height: 100%;
    width: 100%;
}

.singleCurve12 {
    position: absolute;
    transform: scale(-1, 1);
    top: 69rem;
    left: 80.5rem;
    height: 28rem;
    width: 10rem;
}
.singleCurve12 img {
    height: 100%;
    width: 100%;
}

.straigth-pathway11 {
    position: absolute;
    top: 69rem;
    left: 41rem;
    transform: scale(1, -1);
    height: 15rem;
    width: 40rem;
    z-index: 1;
}

.straigth-pathway11 img {
    height: 100%;
    width: 100%;
}

.straight-pathway13 {
    position: absolute;  
    left: 75rem;
    top: 111rem;
    height: 46rem;
    width: 18rem;
    transform: scale(-1, 1);
    z-index: 1;
}

.straight-pathway13 img {
    height: 100%;
    width: 100%;
}

.Polus_Weapons {
    position: absolute;
    top: 104rem;
    left: 50rem;
    height: 30rem;
    width: 30rem;
}

.Polus_Weapons img {
    height: 100%;
    width: 100%;
}

.singleCurve13 {
    position: absolute;
    left: 60.1rem;
    top: 155rem;
    height: 17rem;
    width: 35rem;
    transform: scale(1, -1);
}

.singleCurve13 img {
    height: 100%;
    width: 100%;
}

.Navigation2 {
    position: absolute;
    top: 148rem;
    left: 32.5rem;
    height: 26rem;
    width: 33rem;
}

.Navigation2 img {
    height: 100%;
    width: 100%;
}

.backToAnimation {
    height: 4rem;
    width: 4rem;
    position: relative;
    cursor: pointer;
    border-radius: 5rem;
    margin: 1rem;
    display: inline-block;
}

.backToAnimation img{
    height: 100%;
    width: 100%;
    border-radius: 5rem;
}
.help {
    height: 4rem;
    width: 4rem;
    position: relative;
    cursor: pointer;
    border-radius: 5rem;
    margin: 1rem;
    display: inline-block;
}

.help img{
    height: 100%;
    width: 100%;
    border-radius: 5rem;
}

.buttonBack {
    position: sticky;
    top: 1rem;
    left: 1rem;
    display: inline-block;
    z-index: 5;
    height: 6rem;
    width: 12.5rem;
}