#chat-container {
    overflow-y: auto; /* Enable vertical scrolling */
    color: white;
    position: absolute;
    top: 9vh;
    z-index: 3;
    left: 29.5vw;
    height: 58vh;
    width: 40vw;
    display: none;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }
  #chat-container::-webkit-scrollbar {
    display: none;
}
  
  #chat-messages {
    padding: 10px;
  }
  
  .message {
    white-space: nowrap;
    margin: 10px;
    color: white;
    font-family: "VT323", monospace;
    font-size: 3vh;
    height: 3vh;
  }
  
  #input-container {
    display: flex;
    padding: 10px 10px;
    position: relative;
    top: -10px;
    counter-reset: white;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  #user-input {
    flex: 1;
    padding: 0vw 0.5vw;
    outline: none;
    border: none;
    font-family: "VT323", monospace;
    background-color: rgb(30, 30, 30);
    font-weight: 400;
    font-size: 3vh;
    margin: 0px 2px;
    height: 3vh;
    position: relative;
    top: -0.5vw;
    overflow:hidden;
  }


  /* pop-up style */
  .popup {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    height: 43vh;
    width: 30vw;
  }
  
  .popup-content {
    text-align: center;
    height: inherit;
    width: inherit;
    color: black;
  }
  
  .close {
    position: absolute;
    top: 1vw;
    right: 1vw;
    cursor: pointer;
    color: black;
    font-family: "VT323", monospace;
    font-size: 2vw;
    height: 2vw;
    width: 2vw;
  }
  
  .cross {
    color: black;
    font-family: "VT323", monospace;
    height: 4vh;
    font-size: 3vh;
  }
  
  .controls,
  .control,
  .movement {
    color: black;
    font-family: "VT323", monospace;
    text-align: left;
  }

  .controls {
    padding: 0vw 2vw;
  }
  .control {
    font-size: 3vh;
    height: 3vh;
  }
  .movement {
    font-size: 3vh;
    height: 3vh;
    padding: 0.2vh 0vh;
  }
  .popup-message {
    font-size: 3vh;
    height: 3vh;
    padding: 0.2vh 0vh;
    color: black;
    font-family: "VT323", monospace;
    text-align: left;
    padding: 1vw 1vh;
  }

  